@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


body {
    background-color: #2b88f0;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h3{
    color: white;
    margin: 10px 0px 20px;
    font-size: 1.6rem;
}

.container{
    width: 500px;
}

textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 0 0 20px;
    margin: 0 0 20px;
    font-size: 1.6rem;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .5);

    &:focus{
        outline: none;
    }
}

.tag{
    background-color: #f0932b;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 1.4rem;
    display: inline-block;
    box-shadow: 1px 1px 5px black;
}

.tag-highlight{
    background-color: blue;
}