@import url("https://fonts.googleapis.com/css2?family=Heebo:300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: white;
}

html {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

html.dark {
  --primary-color: white;
  --secondary-color: black;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: 'Heebo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-container .time {
  font-size: 5.5rem;
}

.clock-container .date {
  color: #aaa;
  font-size: 23px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.clock-container .date span {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 18px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.clock-container .clock {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.clock-container .clock .center-point {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clock-container .clock .center-point::after {
  content: '';
  background-color: black;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 55%;
  -webkit-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
}

.clock-container .clock .needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 3px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.clock-container .clock .needle.hour {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
          transform: translate(-50%, -100%) rotate(0deg);
}

.clock-container .clock .needle.minute {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
          transform: translate(-50%, -100%) rotate(0deg);
  height: 110px;
}

.clock-container .clock .needle.second {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
          transform: translate(-50%, -100%) rotate(0deg);
  height: 120px;
  background-color: red;
}
/*# sourceMappingURL=style.css.map */