@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
h1{
    margin: 1rem;
}

.box{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(200%);
    transition: transform .4s ease;

    h2{
        font-size: 3rem;
    }
}

.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box.show{
    transform: translateX(0);
}